{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{town.name}}: Погода и Экскурсии</title>
    <link rel="icon" href="{% static 'img/ico/ico-weather.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="page">
    <header class="header">
        <div class="hero-image" style="background: url({% static 'img/Kostroma/Kostroma.png'%}) center/cover no-repeat;">
            <div class="hero-overlay"></div>
            <div class="hero-text">
                <h1 class="hero-text__title">Открой для себя новый город {{town.name}}</h1>
                <p class="hero-text__subtitle">Все самое интересное в одном месте: погода и лучшие экскурсии!</p>
            </div>
            <nav class="nav">
                <a href="#contact" class="nav__link"><i class="fas fa-envelope"></i> Контакты</a>
                <a href="#reviews" class="nav__link"><i class="fas fa-comments"></i> Отзывы</a>
                <a href="#weather" class="nav__link"><i class="fas fa-sun"></i> Погода</a>
                <a href="#popular-excursions" class="nav__link"><i class="fas fa-map-signs"></i> Экскурсии</a>
            </nav>
        </div>
    </header>

    <section id="weather" class="weather">
        <div class="container">
            <h2 class="weather__title">Погода Сейчас</h2>
            <div class="weather__wrapper">
                <div class="weather__current" id="current-weather">
                    <div class="weather__container">
                        <div class="weather__icon"><i class="fas fa-sun fa-5x"></i></div>
                        <div class="weather__info">
                            <p class="weather__temperature">{{weather.0.parts.day.temp_avg}}°C</p>
                            <p class="weather__details">Влажность: {{weather.0.parts.day.humidity}}% | Ветер: {{weather.0.parts.day.wind_speed}} м/с</p>
                        </div>
                    </div>
                </div>
                <div class="weather__forecast">
                    <h3 class="weather__forecast-title">Прогноз на 10 дней</h3>
                    <div class="weather__forecast-list">
                        <div class="weather__forecast-item">
                            <p class="weather__forecast-date">Завтра</p>
                            <img src="media/imge/weather-icons/sun.svg" alt="Ясно" class="weather__forecast-icon">
                            <p class="weather__forecast-probability">{{weather.1.parts.day.humidity}}%</p>
                            <p class="weather__forecast-temperature">{{weather.1.parts.day.temp_avg}}°C</p>
                        </div>
                        <div class="weather__forecast-item">
                            <p class="weather__forecast-date">{{weather.2.date}}</p>
                            <img src="media/imge/weather-icons/cloudy.svg" alt="Облачно" class="weather__forecast-icon">
                            <p class="weather__forecast-probability">{{weather.2.parts.day.humidity}}%</p>
                            <p class="weather__forecast-temperature">{{weather.2.parts.day.temp_avg}}°C</p>
                        </div>
                        <div class="weather__forecast-item">
                            <p class="weather__forecast-date">{{weather.3.date}}</p>
                            <img src="media/imge/weather-icons/rain.svg" alt="Дождь" class="weather__forecast-icon">
                            <p class="weather__forecast-probability">{{weather.3.parts.day.humidity}}%</p>
                            <p class="weather__forecast-temperature">{{weather.3.parts.day.temp_avg}}°C</p>
                        </div>
                        <div class="weather__forecast-item">
                            <p class="weather__forecast-date">{{weather.4.date}}</p>
                            <img src="media/imge/weather-icons/sun.svg" alt="Ясно" class="weather__forecast-icon">
                            <p class="weather__forecast-probability">{{weather.4.parts.day.humidity}}%</p>
                            <p class="weather__forecast-temperature">{{weather.4.parts.day.temp_avg}}°C</p>
                        </div>
                        <div class="weather__forecast-item">
                            <p class="weather__forecast-date">{{weather.5.date}}</p>
                            <img src="media/imge/weather-icons/sun.svg" alt="Ясно" class="weather__forecast-icon">
                            <p class="weather__forecast-probability">{{weather.5.parts.day.humidity}}%</p>
                            <p class="weather__forecast-temperature">{{weather.5.parts.day.temp_avg}}°C</p>
                        </div>
                        <div class="weather__forecast-item">
                            <p class="weather__forecast-date">{{weather.6.date}}</p>
                            <img src="media/imge/weather-icons/sun.svg" alt="Ясно" class="weather__forecast-icon">
                            <p class="weather__forecast-probability">{{weather.6.parts.day.humidity}}%</p>
                            <p class="weather__forecast-temperature">{{weather.6.parts.day.temp_avg}}°C</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="popular-excursions" class="excursions">
        <div class="container">
            <h2 class="excursions__title">Популярные экскурсии</h2>
            <div class="excursion-grid">
                {% for event in events %}
                    <div class="excursion-card">
                            <a href="#">
                                <img src="{{event.img_url}}" alt="'Живое Золото'- Рыбоводное хозяйство" class="excursion-card__image">
                                <h3 class="excursion-card__title">{{event.title}}</h3>
                                <p class="excursion-card__description">{{event.title}}</p>
                                <div class="excursion-card__footer">
                                    <p class="excursion-card__price">от {{event.price}}</p>
                                    <div class="excursion-card__rating">
                                        <span>{{event.rating}}</span>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </a>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {%if pages.page == 1%}
                    <a href="{% url 'pages' page=1 %}" class="disabled">&laquo;</a>
                {% else %}
                    <a href="{% url 'pages' page=1 %}">&laquo;</a>
                    <a href="{% url 'pages' page=pages.prev_page %}">{{pages.prev_page}}</a>
                {%endif%}
                <a href="{% url 'pages' page=pages.page %}" class="current">{{pages.page}}</a>
                {% if pages.next_page <= pages.max_page %}
                    <a href="{% url 'pages' page=pages.next_page %}">{{pages.next_page}}</a>
                    <a href="{% url 'pages' page=pages.max_page %}">&raquo;</a>
                {% else %}
                    <a href="{% url 'pages' page=pages.max_page %}" class="disabled">&raquo;</a>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="reviews" class="reviews">
        <div class="container">
            <h2 class="reviews__title">Отзывы</h2>
            <button id="open-review-modal" class="reviews__button">Оставить отзыв</button>

            <div id="review-modal" class="modal">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <h3>Оставьте свой отзыв</h3>
                    <form id="review-form">
                        <label for="name">Имя:</label>
                        <input type="text" id="name" name="name" required>

                        <label for="comment">Отзыв:</label>
                        <textarea id="comment" name="comment" rows="4" required></textarea>

                        <button type="submit">Опубликовать</button>
                    </form>
                </div>
            </div>

            <div id="reviews-container" class="reviews__container">
                <!-- Здесь будут отображаться отзывы -->
            </div>
        </div>
    </section>

    <section id="content" class="content">
        <div class="container">
            <div class="footer-content">
                <section id="contact" class="contact">
                    <div class="contact-info">
                        <h3 class="contact-info__title">Свяжитесь с нами</h3>
                        <p class="contact-info__description">Будем рады ответить на ваши вопросы и предложения.</p>
                        <div class="contact-details">
                            <p class="contact-details__item">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:excursion@example.com">excursion@example.com</a>
                            </p>
                        </div>
                        <div class="contact-info__social">
                            <a href="#" target="_blank" class="contact-info__social-link">
                                <i class="fab fa-telegram"></i>
                                <span>Telegram</span>
                            </a>
                            <a href="#" target="_blank" class="contact-info__social-link">
                                <i class="fab fa-github"></i>
                                <span>GitHub</span>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__container">
                <div class="footer__section">
                    <h4 class="footer__title">О нас</h4>
                    <p>Мы предлагаем лучшие экскурсии и актуальную информацию о погоде в Костроме.</p>
                </div>
                <div class="footer__section">
                    <h4 class="footer__title">Полезные ссылки</h4>
                    <ul class="footer__list">
                        <li><a href="#">Экскурсии</a></li>
                        <li><a href="#">Погода</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__section">
                    <h4 class="footer__title">Подпишитесь</h4>
                    <p>Получайте свежие обновления и специальные предложения!</p>
                    <form class="footer__form">
                        <input type="email" placeholder="Ваш email">
                        <button type="submit">Подписаться</button>
                    </form>
                </div>
            </div>
            <p class="footer__copyright">&copy; 2025 Кострома: Открой город заново</p>
        </div>
    </footer>

    <script>
        // Код для модального окна отзывов
        const modal = document.getElementById("review-modal");
        const openModalButton = document.getElementById("open-review-modal");
        const closeModalButton = document.querySelector(".close-button");
        const reviewForm = document.getElementById("review-form");
        const reviewsContainer = document.getElementById("reviews-container");

        openModalButton.addEventListener("click", () => {
            modal.style.display = "block";
        });
        closeModalButton.addEventListener("click", () => {
            modal.style.display = "none";
        });

        window.addEventListener("click", (event) => {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });

        reviewForm.addEventListener("submit", (event) => {
            event.preventDefault();
            const name = document.getElementById("name").value;
            const comment = document.getElementById("comment").value;

            // Создаем элемент отзыва
            const reviewElement = document.createElement("div");
            reviewElement.classList.add("review");
            reviewElement.innerHTML = `
                <h4>${name}</h4>
                <p>${comment}</p>
            `;

            // Добавляем отзыв в контейнер
            reviewsContainer.appendChild(reviewElement);

            // Очищаем форму
            document.getElementById("name").value = "";
            document.getElementById("comment").value = "";

            // Закрываем модальное окно
            modal.style.display = "none";
        });
    </script>
</body>
</html>